* {
    font-family: "Source Code Pro";
}

body {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}

button {
    font-weight: bold;
    background-color: lightgray;
    height: 35px;
    width: 50px;
    margin-inline: 17.5px;
    margin-block: 10px;
    border-radius: 7px;
}

.calculator {
    height: 500px;
    width: 350px;
    background-color: dimgrey;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(36, 36, 36);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.display-window {
    height: 100px;
    width: 300px;
    background-color: darkseagreen;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(36, 36, 36);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.display {
    margin-inline: 10px;
}

.buttons {
    height: 325px;
    width: 300px;
    background-color: grey;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(36, 36, 36);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttons .numbers {
    height: 300px;
    width: 175px;
    background-color: #7d7d7d;
    display: flex;
    flex-wrap: wrap;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    border-radius: 5px;
}

.buttons .operators {
    height: 300px;
    width: 75px;
    background-color: #7d7d7d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    border-radius: 5px;
}